* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: linear-gradient(to right, #f08080, #abc5ca);
  position: fixed;
  width: 100vw;
  height: 40px;
  display: grid;
  place-content: center;
  z-index: 2;
}

nav ul {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.1rem;
}

a:hover {
  color: #19f505;
}

section {
  height: 100vh;
}

.pageTitle {
  padding-top: 50px;
  padding-left: 20px;
  font-size: 2rem;
  color: white;
}

.cardContainerHome {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
}

.cardHome {
  border-radius: 5px;
  padding: 7px;
  background-color: rgba(240, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  height: 200px;
  display: grid;
  grid-template-rows: 30% 70%;
}

.cardTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardContent {
  display: grid;
  place-content: center;
}

.cardHome img {
  width: 40px;
}

.sloganContainer {
  padding-left: 40px;
  padding-top: 50px;
  height: 54vh;

  color: white;
}

.productsContainer {
  display: grid;
  place-content: center;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.productsCard {
  height: 77vh;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(71, 89, 89, 0.4);
  backdrop-filter: blur(10px);
  position: relative;
}

.productsCard h3 {
  margin-bottom: 30px;
}

.productsCard button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.invisible {
  display: none;
}

#home {
  background-image: url(./images/beach1.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

#about {
  background-color: #a5a29b;
}

#products {
  background-image: url(./images/path1.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

#blog {
  background-color: #ffebcd;
}

#contact {
  background-color: #8fbc8f;
}
